'atom-text-editor:not([mini])':
  'ctrl-i': 'editor:auto-indent'
  'ctrl-f ctrl-f': 'tree-view:reveal-active-file'

  # 'tab': 'snippets:expand'
  'ctrl-shift-c': 'editor:copy-path'
  # 'ctrl-i': 'atom-text-editor:auto-indent'
  'ctrl-r': 'window:run-package-specs'
  'ctrl-shift-M': 'markdown-preview:toggle'
  # 'ctrl-l': 'snippets:expand'
  # 'tab': 'emmet:expand-abbreviation-with-tab'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-h': 'core:move-left'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
  'ctrl-l': 'core:move-right'
  'cmd-alt-l': 'editor:auto-indent'

'.tree-view':
  'ctrl-f ctrl-f': 'tree-view:toggle-focus'
  'ctrl-h': 'tree-view:collapse-directory'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
  'ctrl-l': 'tree-view:expand-directory'
  'ctrl-l': 'tree-view:open-selected-entry'

'.autocomplete-plus input.hidden-input':
  'enter': 'autocomplete-plus:confirm'
  'tab': 'autocomplete-plus:cancel'

# 'atom-text-editor[data-grammar="YOUR GRAMMAR HERE"]:not([mini])':
# 'atom-text-editor:not([mini])':
#   'tab': 'emmet:expand-abbreviation-with-tab'
