'.editor:not(.mini)':
  'ctrl-i': 'editor:auto-indent'
  'ctrl-r': 'window:run-package-specs'
  # 'ctrl-l': 'snippets:expand'
  # 'tab': 'emmet:expand-abbre

".autocomplete-plus input.hidden-input":
  "enter": "autocomplete-plus:confirm"

".autocomplete-plus input.hidden-input":
  "tab": "autocomplete-plus:cancel"
