# Ruby
'.source.ruby':
  '=>':
    prefix: '='
    body: ' => '

  'magic comment':
    prefix: 'cod'
    body: '# -*- coding: utf-8 -*-'

  "require '..'":
    prefix: 'req'
    body: "require '$0'"

  'task :.. do .. end':
    prefix: 'ta'
    body: 'task :$1 do\n\t$0\nend'

# Rails
'.source.ruby.rails':
  'belongs_to':
    prefix: 'bl'
    body: 'belongs_to :$1'

  'render (text)':
    prefix: 'rt'
    body: "render text: '${1:text to render...}'"

# Rails(html), Ruby(html)
'.text.html.ruby, .text.html.erb':
  'do block':
    prefix: 'do'
    body: '<% $1 do${2: |${3:variable}| }%>\n\t$0\n<% end %>'

  'end':
    prefix: 'end'
    body: '<% end %>'

  'form_for':
    prefix: 'ff'
    body: '<%= form_for($1) do |f| %>\n\t$2\n<% end %>'

  'link_to':
    prefix: 'lt'
    body: "<%= link_to ${1:\'${2:name}\'}, ${3:path} %>"

# RSpec
'.source.ruby.rspec':
  'before':
    prefix: 'bef'
    body: 'before${2:(${1::each})} do\n  $0\nend'

  'context':
    prefix: 'con'
    body: "context '${1:context}' do\n  $0\nend"

  'describe (String)':
    prefix: 'des'
    body: "describe '${1:subject}' do\n  $0\nend"

  'it (does something)':
    prefix: 'it'
    body: "it '${1:does something}'${2: do\n  $0\nend}"

# PHP
'.source.php':
  'class …':
    prefix: 'cla'
    body: 'class ${1:ClassName}${2: extends ${3:AnotherClass}}\n{\n\t$4\n\tfunction ${5:__construct}(${6:argument})\n\t{\n\t\t${0}\n\t}\n}\n'

  'protected':
    prefix: 'pro'
    body: 'protected $${0};'

  'function …':
    prefix: 'fun'
    body: "${1:public }function ${2:FunctionName}(${3:$${4:value}${5:=''}})\n{\n\t${0}\n}"

  'if …':
    prefix: 'if'
    body: 'if (${1:condition}) {\n\t$0\n}'

  'log(cake)':
    prefix: 'log'
    body: '$this->log($0);'

  '->':
    prefix: '-'
    body: '->'

  '=>':
    prefix: '='
    body: '=>'

  '$this->':
    prefix: '$'
    body: '$this->'

# CodeIgniter
  'if …':
    'prefix': 'if'
    'body': """
      if (${1:condition})
      {
      \t${0:# code...}
      }
    """

  "$this->input->post('')":
    prefix: "post"
    body: "$this->input->post('$1')"

  "$this->load->model('')":
    prefix: "lm"
    body: "$this->load->model('$1');"

  "$this->load->view('')":
    prefix: "lv"
    body: "$this->load->view('$1');"

  "$this->load->":
    prefix: "load"
    body: "$this->load->$1;"

  "'key' => 'value'":
    prefix: "d"
    body: "'${1:key}' => '${2:val}'"

'.text.html.php':
  '<? ;?>':
    prefix: 's'
    body: '<? $0?;>'

  '<?=?>':
    prefix: 's='
    body: '<?=$0?>'
